{% block simplemde_editor_row %}
    <div class="form-group">
        Hi I bims
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}
